config SPECTRA_ISP
	bool "enable camera ISP module"
	help
	  This is enabling camera ISP module.
	  IFE camera driver file be included.
	  This will enable camera ISP driver to handle IFE driver.
	  Core camera driver to handle VFE HW.

config SPECTRA_ICP
       bool "enable camera ICP module"
        help
         This is enabling camera ICP module.
         Camera ICP driver file be included.
         This will enable camera ICP driver to interact with,
         ICP FW. Which can control IPE and BPS HW.

config SPECTRA_JPEG
        bool "enable camera jpeg module"
         help
           This is enabling camera TFE module.
           camera tfe module will be functional.
           This module interact with tfe HW for
           snapshot processing.

config SPECTRA_LRME
        bool "enable camera lrme module"
         help
           This is enabling camera LRME module.
           camera lrme module will be functional.
           This module interact with lrme HW for
           snapshot processing.

config SPECTRA_SENSOR
	bool "enable camera sensor module"
	help
	  This is enabling camera sensor module.
	  sensor module files will be included to enable the driver.
	  eeprom, flash, csiphy all other module will be included
	  to make the sensor functional.
